/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

.button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f5f;
}

/* Estilo de tarjetas para productos */
#productos ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#productos ul li {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    #productos ul {
        flex-direction: column;
        align-items: center;
    }

    #productos ul li {
        width: 90%;
    }
}
